.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 50vh;

  .main-header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1b1b1b;
    color: #fff;
    padding: 10px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;

    .logo {
      font-size: 0.8rem;
      font-weight: bold;
      margin-left: 10px;
    }

    .coins {
      font-size: 1.2rem;
      margin-right: 10px;
    }
  }

  .main-content {
    flex: 1;
    padding: 0px;
    background-color: #1b1b1b;
  }
}
