.provider-buttons {
  display: flex;
  justify-content: center;
  margin: 1rem 0;

  button {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    background: #fff;
    color: #272b34;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: capitalize;
    transition:
      background 0.3s ease,
      color 0.3s ease;

    &.active {
      background: #272b34;
      color: #fff;
    }

    &:hover {
      background: rgb(255, 152, 0);
      color: #ffffff;
    }
  }
}
